
<h1>Add Post</h1>

<div class="form-container">
  <%= form_for @post, url: "/admin/posts", method: "POST", multipart: true do |f| %>
    
      <%= f.text_field :brand, placeholder: "Brand" %>
    
      <%= f.text_field :product, placeholder: "Product" %>

      <%= f.text_field :url, placeholder: "url" %>

      <%= f.file_field :image %>
    
    <%= f.submit "Submit" %>
  <% end %>
</div>